<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>masko-code</string>
    <key>CFBundleIdentifier</key>
    <string>com.masko.desktop</string>
    <key>CFBundleName</key>
    <string>Masko Code</string>
    <key>CFBundleDisplayName</key>
    <string>Masko Code</string>
    <key>CFBundleVersion</key>
    <string>23</string>
    <key>CFBundleShortVersionString</key>
    <string>0.9.1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSUIElement</key>
    <false/>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>ATSApplicationFontsPath</key>
    <string>Fonts</string>
    <key>SUFeedURL</key>
    <string>https://masko.ai/api/desktop/appcast</string>
    <key>SUPublicEDKey</key>
    <string>/BVYK9Q4hZORSn/xfhu4BCCLrug5zEA5WkwXG2lgdiw=</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Masko Code needs permission to switch to the correct terminal tab when you interact with permission bubbles.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>masko</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.masko.desktop</string>
        </dict>
    </array>
</dict>
</plist>
